.book-parcel-form{

.ant-form-item .ant-form-item-label >label{
    font-size: 8px !important;
}

:where(.css-dev-only-do-not-override-10l7o5l).ant-form-item .ant-form-item-label >label{
    font-size: 10px !important;
}

:where(.css-dev-only-do-not-override-10l7o5l).ant-input{
    font-size: 10px !important;
}
:where(.css-dev-only-do-not-override-10l7o5l).ant-form-item .ant-form-item-explain-error{
    font-size: 10px !important;
}

:where(.css-dev-only-do-not-override-10l7o5l).ant-select-single.ant-select-show-arrow .ant-select-selection-item, :where(.css-dev-only-do-not-override-10l7o5l).ant-select-single.ant-select-show-arrow .ant-select-selection-search, :where(.css-dev-only-do-not-override-10l7o5l).ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder{
    font-size: 10px !important;
}

:where(.css-dev-only-do-not-override-10l7o5l).ant-radio-wrapper span.ant-radio+*{
    font-size: 10px !important;
}

:where(.css-dev-only-do-not-override-10l7o5l).ant-btn >span, :where(.css-dev-only-do-not-override-10l7o5l).ant-btn .ant-btn-icon{
    font-size: 10px !important;
}
}